<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookhub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookHub">
        <activity android:name=".english"></activity>
        <activity android:name=".tenz">

        </activity>
        <activity android:name=".viper" />
        <activity android:name=".sova" />
        <activity android:name=".yoru" />
        <activity android:name=".skye" />
        <activity android:name=".reyna" />
        <activity android:name=".raze" />
        <activity android:name=".sage" />
        <activity android:name=".pheo" />
        <activity android:name=".omen" />
        <activity android:name=".kill" />
        <activity android:name=".kayo" />
        <activity android:name=".jett" />
        <activity android:name=".cypher" />
        <activity android:name=".breach" />
        <activity android:name=".brim" />
        <activity android:name=".astra" />
        <activity android:name=".Song20" />
        <activity android:name=".Song19" />
        <activity android:name=".Song18" />
        <activity android:name=".Song17" />
        <activity android:name=".Song16" />
        <activity android:name=".Song15" />
        <activity android:name=".Song14" />
        <activity android:name=".Song13" />
        <activity android:name=".Song12" />
        <activity android:name=".Song11" />
        <activity android:name=".Song10" />
        <activity android:name=".Song9" />
        <activity android:name=".Song8" />
        <activity android:name=".Song7" />
        <activity android:name=".Song6" />
        <activity android:name=".Song5" />
        <activity android:name=".Song4" />
        <activity android:name=".ResetActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity2" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".DBHelper"
            tools:ignore="Instantiatable" />
        <activity android:name=".Song3" />
        <activity android:name=".music" />
        <activity android:name=".Song2" />
        <activity android:name=".Song1" />
        <activity android:name=".FullScreen" />
        <activity
            android:name=".ImageAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".gallery" />
        <activity android:name=".ninja" />
        <activity android:name=".jonas" />
        <activity android:name=".subroza" />
        <activity android:name=".flexinja" />
        <activity android:name=".shroud" />
        <activity android:name=".hindi" />
        <activity android:name=".ankitta" />
        <activity android:name=".zeref" />
        <activity android:name=".binks" />
        <activity android:name=".rebel" />
        <activity android:name=".flick" />
        <activity android:name=".devlp" />
        <activity android:name=".rossi" />
        <activity
            android:name=".PAGE_FIRST"
            android:theme="@style/Theme.BookHub1" >

        </activity>
        <activity android:name=".modes" >

        </activity>
        <activity android:name=".message_screen" />
        <activity android:name=".menu" />
        <activity android:name=".characters" />
    </application>

</manifest>